Project_Report.pdf
Project_Report.aux
Project_Report.log
Project_Report.out
Project_Report.synctex.gz
tex_sections/performance_comp.aux
tex_sections/background.aux
tex_sections/hyper.aux
tex_sections/metagol.aux
tex_sections/ilasp.aux
tex_sections/intro.aux
tex_sections/implementation.aux